:2000

root * /srv

@staticFiles file {path} {path}/
handle @staticFiles {
	file_server
}

handle {$REACTFLUX_BASE_PATH:/}* {
	try_files {path} {path}/ {$REACTFLUX_BASE_PATH:/}index.html
	file_server
}

respond 404
