.action-buttons {
  display: flex;
  z-index: 2;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 10px;
}

.button-read-unread {
  border-bottom: 1px solid rgb(var(--primary-5));
  border-radius: 50% 50% 0 0;
}

.button-star {
  border-radius: 0;
}

.button-action {
  border-radius: 0;
  border-top: 1px solid rgb(var(--primary-5));
}

.button-next {
  border-radius: 0 0 50% 50%;
  border-top: 1px solid rgb(var(--primary-5));
}
