.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
  margin-top: auto;
  border-top: 1px solid var(--border);
  padding: 8px 10px;
}

.action-buttons .left-side,
.action-buttons .right-side {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .action-buttons {
    padding-bottom: calc(8px + env(safe-area-inset-bottom)) !important;
  }
}
