.entry-list {
  contain: strict;
  overscroll-behavior-y: contain;
  flex: 1;
  overflow-x: hidden;
  height: 100%;
  padding: 10px 10px 0 10px;
  background-color: var(--background);
}

@media screen and (max-width: 768px) {
  .entry-list {
    width: calc(100% - 20px);
  }
}

.load-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  background-color: var(--muted);
  border-radius: var(--radius);
  color: var(--muted-foreground);
}
