.article-body {
  margin: 0 auto;
  padding-bottom: 40px;
  line-height: 1.8;
  overflow-wrap: break-word;
}

.article-body * {
  max-width: 100%;
}

.article-body a:hover {
  border-bottom: 1px dotted rgb(var(--primary-5)); /* 设置链接文字颜色 */
  color: rgb(var(--primary-5));
  text-decoration: none;
}

.article-body audio,
.article-body iframe,
.article-body img,
.article-body video {
  display: block;
  margin: 20px auto;
}

.article-body figcaption {
  margin: 0 auto;
  color: var(--color-text-3);
  font-size: 0.75rem;
  text-align: center;
}

.article-content figure {
  margin: 16px 0;
}

.article-content h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  color: var(--color-text-1);
  font-weight: var(--font-weight-500);
}

.article-content li,
p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.article-content pre {
  border-radius: var(--border-radius-medium);
  line-height: 1.2;
}

.article-date {
  color: var(--color-text-3);
  font-size: 0.75rem;
}

.article-header {
  margin: 0 auto;
  padding-top: 20px;
}

.article-meta .arco-typography {
  color: var(--color-text-3);
  font-size: 0.75rem;
  line-height: 2 !important;
}

.article-title,
.article-meta,
.article-date {
  margin: 0 auto;
}

.article-title.arco-typography {
  word-break: normal;
  overflow-wrap: break-word;
}

.scroll-container {
  contain: strict;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}

/* 文章标题链接样式 */
.article-title a {
  color: var(--color-text-1); /* 设置链接文字颜色 */
  font-weight: 500;
  text-decoration: none;
}

/* 文章内容链接样式 */
.article-body a {
  transition: color 0.1s linear;
  border-bottom: 1px dotted rgb(var(--primary-6)); /* 设置链接文字颜色 */
  color: rgb(var(--primary-6));
  text-decoration: none;
}

/* 文章内容图片样式 */
.article-body img {
  border-radius: var(--border-radius-medium);
  height: auto;
}

/* 文章内容文本样式 */
.article-content {
  flex: 1;
  min-height: 0;
  color: var(--color-text-2);
}

/* 文章内容引用样式 */
.article-body blockquote {
  margin: 1em 0;
  border-left: 1px solid var(--color-border-2);
  padding: 0 20px;
  color: var(--color-text-3);
}

/*code 相关样式 - 表格 */
.article-content td {
  color: var(--color-text-3);
  font-size: 0.8em;
}

/*video 相关样式 */
.article-body video {
  border-radius: var(--border-radius-medium);
}
