.article-card,
.arco-card-bordered {
  border: none;
}

.article-card {
  position: relative;
  border-radius: var(--border-radius-medium);
  overflow: hidden;
  scroll-snap-type: x mandatory;
  user-select: none;
}

.article-card-info {
  color: var(--color-text-3);
  font-size: 13px;
}

.article-card-mini-content {
  display: flex;
  padding-left: 0;
  gap: 10px;
}

.article-card-mini-content-padding {
  padding-left: 22px;
}

.article-card-mini-content-text {
  margin-top: -2px;
  flex: 1;
}

.article-card-title {
  color: var(--color-text-2);
  font-weight: 500;
}

.article-card-title.arco-typography {
  word-break: normal;
}

.card-custom-selected-style {
  background-color: var(--color-bg-2) !important;
  box-shadow: var(--shadow) !important;
}

/* 文章列表卡片自定义样式 */
.arco-card {
  background-color: transparent;
}

.card-custom-style {
  cursor: pointer;
  border-radius: var(--border-radius-medium);
  transition-property: box-shadow, background-color;
  transition-duration: 0.3s;
  width: 100%;
}

.card-custom-style:hover {
  background-color: var(--color-bg-2);
}

.card-custom-style .arco-card-body {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

.card-custom-style img {
  transition: scale 0.15s ease-in-out; /* 添加过渡效果 */
}

.card-custom-style:hover img {
  scale: 1.05;
}

.article-card-image-container {
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-medium);
  overflow: hidden;
}

.article-card-image-container-mini {
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-medium);
  overflow: hidden;
  height: 80px;
  width: 80px;
}

.cover-image {
  margin: 0;
  height: 160px;
  overflow: hidden;
}

.feed-icon {
  position: absolute;
  right: 2px;
  bottom: 12px;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.feed-icon-mini {
  position: absolute;
  top: 10px;
  left: 10px;
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.icon-starred {
  margin-left: 8px;
  color: var(--color-text-3);
  font-size: 13px;
}

.thumbnail {
  border-radius: var(--border-radius-medium);
  width: 80px;
  height: 80px;
  overflow: hidden;
}
