.entry-list {
  background-color: var(--color-fill-1);
  contain: strict;
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
  padding: 10px 10px 0 10px;
  width: 310px;
}

.load-more-container {
  align-items: center;
  background-color: var(--color-bg-2);
  border-radius: var(--border-radius-small);
  color: var(--color-text-2);
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
