/* 文章列表卡片自定义样式 */
.card-custom-style {
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
  text-align: justify;
}

.card-custom-hover-style {
  transition-property: transform, box-shadow, background-color;
}

.card-custom-hover-style .arco-card-body {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.card-custom-hover-style img {
  transition: scale 0.15s ease-in-out; /* 添加过渡效果 */
}

.card-custom-hover-style:hover img {
  /*opacity: 0.9; !* 设置透明度为 0.90 *!*/
  scale: 1.05;
}

.card-custom-selected-style {
  /*border: 1px solid var(--color-border-2);*/
  background-color: var(--color-neutral-3);
}

.cover-image {
  border-radius: 2px;
  /*border: 1px solid var(--color-border-2);*/
  height: 160px;
  overflow: hidden;
}

.article-card {
  margin-bottom: 10px;
  scroll-snap-type: x mandatory;
  user-select: none;
  overflow-x: hidden;
  position: relative;
}

.swipe-card {
  display: flex;
  position: relative;
  z-index: 1;
}

.swipe-actions {
  align-items: center;
  background-color: rgb(var(--primary-5));
  display: flex;
  height: 100%;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.swipe-action {
  flex: 0 0 54px;
}

.swipe-content {
  flex: 1;
}

.swipe-action.left {
  background-color: rgb(var(--primary-5));
  justify-content: flex-end;
}

.swipe-action.right {
  background-color: rgb(var(--primary-5));
  justify-content: flex-start;
}

.swipe-action svg {
  padding: 0 20px;
}

.article-card-mini-content {
  display: flex;
  padding-left: 0;
}

.article-card-mini-content-padding {
  padding-left: 22px;
}

.article-card-mini-content-text {
  flex: 1;
}

.title-unread {
  font-weight: 500;
}

.title-read {
  color: var(--color-text-3);
  font-weight: 500;
}

.article-info {
  color: var(--color-text-3);
  font-size: 13px;
}

.feed-icon,
.feed-icon-mini {
  height: 16px;
  margin-right: 8px;
  position: absolute;
  width: 16px;
}

.feed-icon {
  bottom: 12px;
  right: 2px;
}

.feed-icon-mini {
  left: 10px;
  top: 14px;
}

.icon-starred {
  color: var(--color-text-3);
  font-size: 13px;
  margin-left: 8px;
}

.thumbnail {
  border-radius: 2px;
  height: 100px;
  overflow: hidden;
  width: 100px;
}
