.read {
  opacity: 0.5;
}

.image-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.skeleton-container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
