.calendar-actions {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  color: var(--color-text-1);
}

.search-and-sort-bar {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
  top: 0;
  padding: 8px 0;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
}

.search-and-sort-bar .button-group {
  display: flex;
  gap: 8px;
  flex-shrink: 0;
  margin: 0 8px;
}
