.brand {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.sidebar-drawer .arco-drawer-content {
  padding: 0;
  background-color: var(--color-neutral-2);
}

.trigger {
  display: none;
}

@media screen and (max-width: 768px) {
  .sidebar-drawer .arco-drawer-content {
    box-sizing: border-box;
    padding-bottom: calc(env(safe-area-inset-bottom, 0px) + var(--mobile-navigation-spacing));
  }
}
