.card-custom-hover-style {
  transition-property: box-shadow !important;
}

.card-custom-hover-style .arco-card-body {
  padding: 12px !important;
}

.card-custom-hover-style:hover {
  box-shadow: 0 4px 10px rgb(var(--color-black));
}

.card-custom-hover-style .card-cover {
  transition: scale 0.15s ease-in-out; /* 添加过渡效果 */
}

.card-custom-hover-style:hover .card-cover {
  /*opacity: 0.9; !* 设置透明度为 0.90 *!*/
  scale: 1.05;
}

.selected {
  outline: 4px solid var(--color-fill-3);
}
