.entry-col {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border);
}

.content-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 40px 16px;
  background-color: var(--background);
  color: var(--foreground);
}

.article-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .article-container {
    position: absolute !important;
    z-index: 3 !important;
    height: calc(100% - 48px) !important;
  }

  .content-empty {
    display: none;
  }

  .entry-col {
    width: 100%;
    border: none;
  }
}
