.article-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--color-bg-1);
  width: 100%;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-medium);
  margin: 10px 10px 10px 0;
  min-height: 0;
}

.content-empty {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 16px;
  color: var(--color-text-3);
  background-color: var(--color-bg-1);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-medium);
  margin: 10px 10px 10px 0;
}

.entry-col {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .article-container {
    position: absolute !important;
    z-index: 3 !important;
    height: 100% !important;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
  }
  .content-empty {
    display: none;
  }
  .entry-col {
    border: none;
    width: 100%;
  }
}
