.entry-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
  border-top: 1px solid var(--color-border-2);
  padding: 8px 10px;
}

@media screen and (max-width: 768px) {
  .entry-panel {
    padding-bottom: calc(8px + env(safe-area-inset-bottom)) !important;
  }
}
