.slide-enter {
  transform: translateY(20px);
}

.slide-enter-active {
  transform: translateY(0);
  transition: transform 300ms;
}

.slide-exit {
  transform: translateY(0);
}

.slide-exit-active {
  transform: translateY(20px);
  transition: transform 300ms;
}
