.main {
  background-color: var(--color-fill-1);
  display: flex;
  transition: padding-left 0.1s linear, width 0.1s linear;
  grid-area: main;
  overflow-y: hidden;
}

.settings-modal {
  max-height: 85%;
  overflow-y: auto;
  top: 5%;
  width: 720px;
}

@media screen and (max-width: 768px) {
  .settings-modal {
    top: 8%;
    width: 95%;
  }
}
