.main {
  background-color: var(--color-fill-1);
  display: flex;
  transition: padding-left 0.1s linear,
  width 0.1s linear;
  grid-area: main;
  overflow-y: hidden;
}

.settings-modal {
  width: 720px;
  top: 10%;
}

@media screen and (max-width: 768px) {
  .settings-modal {
    width: 100%;
    top: 5%;
  }
}
