.background {
  background-image: url("./images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
}

.form-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: var(--color-bg-1);
  width: 50%;
  height: 100%;
  overflow-y: auto;
}

.login-form {
  width: 340px;
}

.page-layout {
  display: flex;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .form-panel {
    position: absolute !important;
    z-index: 2 !important;
    width: 100% !important;
  }
}
