.brand {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header {
  display: flex;
  position: fixed;
  right: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  border: none;
  padding-top: env(safe-area-inset-top);
  width: calc(100% - 240px);
  height: 48px;
}

.header .button-group {
  margin-right: 10px;
}

.icon-right {
  transform: translateY(1px);
  margin-right: 8px;
  font-size: 16px;
}

.sidebar-drawer .arco-drawer-content {
  padding: 0;
}

.theme-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.trigger {
  display: none;
  margin-right: 5px;
}

@media screen and (max-width: 992px) {
  .header {
    padding-left: 0;
    width: 100%;
  }
}

@media screen and (display-mode: fullscreen) {
  .header {
    box-sizing: border-box;
    padding-right: env(safe-area-inset-right);
    padding-left: env(safe-area-inset-left);
    height: calc(48px + env(safe-area-inset-top));
  }
}
