body {
  --background: rgb(255 255 255);
  --foreground: rgb(2 8 23);
  --card: rgb(255 255 255);
  --card-foreground: rgb(2 8 23);
  --popover: rgb(255 255 255);
  --popover-foreground: rgb(2 8 23);
  --primary: rgb(37 99 235);
  --primary-foreground: rgb(248 250 252);
  --secondary: rgb(241 245 249);
  --secondary-foreground: rgb(15 23 42);
  --muted: rgb(241 245 249);
  --muted-foreground: rgb(100 116 139);
  --accent: rgb(241 245 249);
  --accent-foreground: rgb(15 23 42);
  --destructive: rgb(239 68 68);
  --destructive-foreground: rgb(248 250 252);
  --border: rgb(226 232 240);
  --input: rgb(226 232 240);
  --ring: rgb(37 99 235);
  --radius: 0.5rem;
}

body[arco-theme="dark"] {
  --background: rgb(2 8 23);
  --foreground: rgb(248 250 252);
  --card: rgb(2 8 23);
  --card-foreground: rgb(248 250 252);
  --popover: rgb(2 8 23);
  --popover-foreground: rgb(248 250 252);
  --primary: rgb(59 130 246);
  --primary-foreground: rgb(15 23 42);
  --secondary: rgb(30 41 59);
  --secondary-foreground: rgb(248 250 252);
  --muted: rgb(30 41 59);
  --muted-foreground: rgb(148 163 184);
  --accent: rgb(30 41 59);
  --accent-foreground: rgb(248 250 252);
  --destructive: rgb(127 29 29);
  --destructive-foreground: rgb(248 250 252);
  --border: rgb(30 41 59);
  --input: rgb(30 41 59);
  --ring: rgb(29 78 216);
}
