body {
  --background: rgb(255 255 255);
  --foreground: rgb(10 10 10);
  --card: rgb(255 255 255);
  --card-foreground: rgb(10 10 10);
  --popover: rgb(255 255 255);
  --popover-foreground: rgb(10 10 10);
  --primary: rgb(23 23 23);
  --primary-foreground: rgb(250 250 250);
  --secondary: rgb(245 245 245);
  --secondary-foreground: rgb(23 23 23);
  --muted: rgb(245 245 245);
  --muted-foreground: rgb(115 115 115);
  --accent: rgb(245 245 245);
  --accent-foreground: rgb(23 23 23);
  --destructive: rgb(239 68 68);
  --destructive-foreground: rgb(250 250 250);
  --border: rgb(229 229 229);
  --input: rgb(229 229 229);
  --ring: rgb(10 10 10);
  --radius: 0.5rem;
}

body[arco-theme="dark"] {
  --background: rgb(10 10 10);
  --foreground: rgb(250 250 250);
  --card: rgb(10 10 10);
  --card-foreground: rgb(250 250 250);
  --popover: rgb(10 10 10);
  --popover-foreground: rgb(250 250 250);
  --primary: rgb(250 250 250);
  --primary-foreground: rgb(23 23 23);
  --secondary: rgb(38 38 38);
  --secondary-foreground: rgb(250 250 250);
  --muted: rgb(38 38 38);
  --muted-foreground: rgb(163 163 163);
  --accent: rgb(38 38 38);
  --accent-foreground: rgb(250 250 250);
  --destructive: rgb(127 29 29);
  --destructive-foreground: rgb(250 250 250);
  --border: rgb(38 38 38);
  --input: rgb(38 38 38);
  --ring: rgb(212 212 212);
}
