.arco-menu-icon-suffix {
  display: none;
}

.arco-menu-vertical .arco-menu-inline-header {
  padding-right: 12px;
}

.category-title,
.custom-menu-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.unread-count {
  color: var(--color-text-4);
  display: flex;
  justify-content: flex-end;
}

.item-count {
  color: var(--color-text-4);
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.menu-header {
  align-items: center;
  display: flex;
  height: 48px;
  margin-top: -4px;
  padding: 0 28px 0 2px;
}

.menu-header .avatar {
  background-color: var(--color-text-1);
  margin-right: 10px;
}

.section-title {
  color: var(--color-text-3);
  font-style: italic;
}

.custom-menu-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.custom-menu-item .item-count {
  color: var(--color-text-4);
  display: flex;
  justify-content: flex-end;
}

.category-title {
  align-items: center;
  display: flex;
  margin-left: -32px;
  margin-right: -12px;
  border-radius: 8px;
  padding: 8px 12px 8px 42px;
}

.feed-icon-sidebar {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  vertical-align: -2px;
}

.arco-collapse-item-header-title {
  width: 100%;
}

.arco-collapse {
  border-radius: 0 !important;
}

.arco-collapse-item-header {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
}

.arco-collapse-item {
  border-color: transparent;
}

.arco-collapse-item-content-box {
  padding: 4px 0 0 0;
}

.arco-collapse-item-content {
  background-color: transparent;
}

.arco-collapse-item-active > .arco-collapse-item-header {
  background-color: var(--color-neutral-2);
  border-color: var(--color-neutral-2);
}

.category-title:hover {
  background-color: var(--color-neutral-3);
}

.submenu-active {
  background-color: var(--color-neutral-3);
  color: rgb(var(--primary-6)) !important;
}

.submenu-inactive {
  color: var(--color-text-2);
}

.sidebar .arco-btn-secondary:not(.arco-btn-disabled) {
  background-color: transparent;
}

.arco-icon-hover.arco-collapse-item-icon-hover::before {
  width: 32px;
  height: 32px;
}

.arco-icon-hover.arco-collapse-item-icon-hover:hover::before {
  background-color: var(--color-fill-3);
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
