.arco-menu-icon-suffix {
  display: none;
}

.arco-menu-vertical .arco-menu-inline-header {
  padding-right: 12px;
}

.category-title,
.custom-menu-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.unread-count {
  color: var(--color-text-4);
  display: flex;
  justify-content: flex-end;
}

.item-count {
  color: var(--color-text-4);
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  grid-area: sidebar;
}

.menu-header {
  align-items: center;
  display: flex;
  height: 48px;
  margin-top: -4px;
  padding: 0 28px 0 10px;
}

.menu-header .avatar {
  background-color: var(--color-text-1);
  margin-right: 10px;
}

.divider {
  margin-bottom: 4px;
  margin-top: 0;
}

.section-title {
  color: var(--color-text-3);
  font-style: italic;
}

.custom-menu-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.custom-menu-item .item-count {
  color: var(--color-text-4);
  display: flex;
  justify-content: flex-end;
}

.category-title {
  align-items: center;
  display: flex;
}

.icon-open {
  transform: rotate(90deg);
}

.icon-closed {
  transform: rotate(0deg);
}

.feed-icon-sidebar {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  vertical-align: -2px;
}
