/*@media screen and (max-width: 700px) {*/
/*  .sidebar {*/
/*    display: none !important;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 700px) {*/
/*  .article-list {*/
/*    padding-left: 0 !important;*/
/*    width: 100% !important;*/
/*  }*/
/*}*/

.arco-menu-collapse-button {
  display: none;
}

.arco-menu-collapse {
  width: 0 !important;
}

@media screen and (max-width: 992px) {
  .header {
    padding-left: 0 !important;
    width: 100% !important;
  }

  .trigger {
    display: block !important;
  }

  .arco-menu-collapse-button {
    display: flex !important;
    top: 12px;
  }

  .arco-layout-sider-light {
    box-shadow: none !important;
  }

  .article-list {
    width: 100% !important;
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 700px) {
  .entry-col {
    width: 100% !important;
  }

  .entry-list {
    width: calc(100% - 20px) !important;
  }

  .hide-article-content-btn {
    display: block !important;
  }

  .article-content {
    display: block !important;
    z-index: 200 !important;
    position: absolute;
    box-sizing: border-box;
    top: 49px;
    left: 0;
    width: 100%;
    height: calc(100% - 49px);
    background-color: var(--color-bg-2);
  }

  .content-empty {
    display: none !important;
  }

  .action-buttons {
    bottom: 20% !important;
    z-index: 999;
  }

  .entry-panel {
    padding: 7px 25px 34px 25px !important;
  }
}
