.layout-collapse-demo {
    height: 100%;
}

.layout-collapse-demo .arco-layout-header {
    height: 48px;
    line-height: 48px;
    background: var(--color-bg-3);
}

.layout-collapse-demo .arco-layout-header .trigger {
    margin-left: 20px;
}