::-webkit-input-placeholder,
button,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", helvetica neue, ubuntu, roboto,
    noto, segoe ui, Arial, sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", helvetica neue, ubuntu, roboto,
    noto, segoe ui, Arial, sans-serif;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
