body {
  --gray-1: 245 245 244;
  --gray-2: 231 229 228;
  --gray-3: 214 211 209;
  --gray-4: 168 162 158;
  --gray-5: 120 113 108;
  --gray-6: 87 83 78;
  --gray-7: 68 64 60;
  --gray-8: 41 37 36;
  --gray-9: 28 25 23;
  --gray-10: 12 10 9;

  --color-bg-1: rgb(250 250 249);
  --color-bg-2: rgb(250 250 249);
  --color-bg-3: rgb(250 250 249);
  --color-bg-4: rgb(250 250 249);
  --color-bg-5: rgb(250 250 249);
}
