.arco-btn-primary:not(.arco-btn-disabled) {
  background-color: var(--primary) !important;
  color: var(--primary-foreground) !important;
}

.arco-btn-primary:not(.arco-btn-disabled):not(.arco-btn-loading):hover {
  background-color: var(--muted-foreground) !important;
}

.arco-btn-secondary:not(.arco-btn-disabled) {
  background-color: var(--secondary) !important;
  color: var(--secondary-foreground) !important;
}

.arco-btn-secondary:not(.arco-btn-disabled):hover {
  background-color: var(--input) !important;
}

.arco-btn-secondary:not(.arco-btn-disabled):not(.arco-btn-loading):hover {
  background-color: var(--muted-foreground) !important;
}

.arco-card:not(.card-custom-selected-style) {
  background-color: var(--card) !important;
}

.arco-card-bordered {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.02), 0 2px 10px 0 rgba(0, 0, 0, 0.06), 0;
  border: none !important;
  overflow: hidden !important;
}

.arco-collapse-item {
  border-radius: var(--radius) !important;
}

.arco-divider-horizontal {
  border-color: var(--border) !important;
}

.arco-dropdown-menu {
  background-color: var(--popover) !important;
}

.arco-input {
  background-color: var(--muted) !important;
}

.arco-input-group-addbefore .arco-select .arco-select-view {
  border-radius: var(--radius) !important;
}

.arco-input-group-addbefore,
.arco-input-inner-wrapper {
  background-color: var(--muted) !important;
}

.arco-layout-sider {
  border: none !important;
}

.arco-menu-light {
  background-color: var(--muted) !important;
}

.arco-menu-light .arco-menu-item {
  background-color: var(--muted) !important;
}

.arco-menu-light .arco-menu-item.arco-menu-selected {
  border-radius: var(--radius) !important;
  background-color: var(--muted-foreground) !important;
}

.arco-menu-light .arco-menu-item:hover {
  border-radius: var(--radius) !important;
  background-color: var(--muted-foreground) !important;
}

.arco-modal,
.arco-picker-container {
  border-color: var(--border) !important;
  border-radius: var(--radius) !important;
  background-color: var(--popover) !important;
}

.arco-modal-footer {
  border-color: var(--border) !important;
}

.arco-modal-header {
  border-color: var(--border) !important;
}

.arco-picker-footer-extra-wrapper {
  border-top: 1px solid var(--border) !important;
}

.arco-picker-header-icon {
  background-color: var(--background) !important;
}

.arco-picker-header-icon:hover {
  background-color: var(--input) !important;
}

.arco-popconfirm-content {
  border: 1px solid var(--border) !important;
  border-radius: var(--radius) !important;
  background-color: var(--popover) !important;
  color: var(--popover-foreground) !important;
}

.arco-select-popup {
  background-color: var(--popover) !important;
}

.arco-select-popup .arco-select-option {
  background-color: var(--popover) !important;
}

.arco-select-popup .arco-select-option:hover {
  background-color: var(--input) !important;
  color: var(--secondary-foreground) !important;
}

.arco-select-view {
  background-color: var(--muted) !important;
}

.arco-select-view:hover {
  background-color: var(--muted-foreground) !important;
}

.arco-switch {
  background-color: var(--muted) !important;
}

.arco-switch-checked .arco-switch-dot {
  background-color: var(--primary-foreground) !important;
}

.arco-table-td {
  background-color: var(--popover) !important;
}

.arco-table-td:hover {
  background-color: var(--input) !important;
}

.arco-table-th {
  background-color: var(--muted) !important;
}

.arco-table-th:hover {
  background-color: var(--muted-foreground) !important;
}

.arco-tabs-header-nav::before {
  background-color: var(--border) !important;
}

.arco-tooltip-content {
  border-color: var(--border) !important;
  background-color: var(--popover) !important;
  color: var(--popover-foreground) !important;
}

body[arco-theme="dark"] .arco-card-bordered {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 992px) {
  .arco-layout-sider {
    border-right: 1px solid var(--border) !important;
  }
}
