body {
  --background: rgb(255 255 255);
  --foreground: rgb(3 7 18);
  --card: rgb(255 255 255);
  --card-foreground: rgb(3 7 18);
  --popover: rgb(255 255 255);
  --popover-foreground: rgb(3 7 18);
  --primary: rgb(124 58 237);
  --primary-foreground: rgb(249 250 251);
  --secondary: rgb(243 244 246);
  --secondary-foreground: rgb(17 24 39);
  --muted: rgb(243 244 246);
  --muted-foreground: rgb(107 114 128);
  --accent: rgb(243 244 246);
  --accent-foreground: rgb(17 24 39);
  --destructive: rgb(239 68 68);
  --destructive-foreground: rgb(249 250 251);
  --border: rgb(229 231 235);
  --input: rgb(229 231 235);
  --ring: rgb(124 58 237);
  --radius: 0.5rem;
}

body[arco-theme="dark"] {
  --background: rgb(3 7 18);
  --foreground: rgb(249 250 251);
  --card: rgb(3 7 18);
  --card-foreground: rgb(249 250 251);
  --popover: rgb(3 7 18);
  --popover-foreground: rgb(249 250 251);
  --primary: rgb(109 40 217);
  --primary-foreground: rgb(249 250 251);
  --secondary: rgb(31 41 55);
  --secondary-foreground: rgb(249 250 251);
  --muted: rgb(31 41 55);
  --muted-foreground: rgb(156 163 175);
  --accent: rgb(31 41 55);
  --accent-foreground: rgb(249 250 251);
  --destructive: rgb(127 29 29);
  --destructive-foreground: rgb(249 250 251);
  --border: rgb(31 41 55);
  --input: rgb(31 41 55);
  --ring: rgb(109 40 217);
}
