body {
  --background: rgb(255 255 255);
  --foreground: rgb(12 10 9);
  --card: rgb(255 255 255);
  --card-foreground: rgb(12 10 9);
  --popover: rgb(255 255 255);
  --popover-foreground: rgb(12 10 9);
  --primary: rgb(250 204 21);
  --primary-foreground: rgb(66 32 6);
  --secondary: rgb(245 245 244);
  --secondary-foreground: rgb(28 25 23);
  --muted: rgb(245 245 244);
  --muted-foreground: rgb(120 113 108);
  --accent: rgb(245 245 244);
  --accent-foreground: rgb(28 25 23);
  --destructive: rgb(239 68 68);
  --destructive-foreground: rgb(250 250 249);
  --border: rgb(231 229 228);
  --input: rgb(231 229 228);
  --ring: rgb(12 10 9);
  --radius: 0.5rem;
}

body[arco-theme="dark"] {
  --background: rgb(12 10 9);
  --foreground: rgb(250 250 249);
  --card: rgb(12 10 9);
  --card-foreground: rgb(250 250 249);
  --popover: rgb(12 10 9);
  --popover-foreground: rgb(250 250 249);
  --primary: rgb(250 204 21);
  --primary-foreground: rgb(66 32 6);
  --secondary: rgb(41 37 36);
  --secondary-foreground: rgb(250 250 249);
  --muted: rgb(41 37 36);
  --muted-foreground: rgb(168 162 158);
  --accent: rgb(41 37 36);
  --accent-foreground: rgb(250 250 249);
  --destructive: rgb(127 29 29);
  --destructive-foreground: rgb(250 250 249);
  --border: rgb(41 37 36);
  --input: rgb(41 37 36);
  --ring: rgb(161 98 7);
}
