.add-category-tag {
  cursor: pointer;
  border: 1px dashed var(--border);
  background-color: var(--background);
  width: 32px;
}

.input-style {
  width: 84px;
}

.modal-style {
  width: 400px;
}

.tag-style {
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
}
