.custom-tabs .arco-tabs-header {
  margin: 0 auto !important;
}

.input-select {
  margin-left: 16px;
  width: 128px;
}

.list-item-action {
  align-items: center;
  background: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  height: 16px;
  justify-content: center;
  padding: 0;
  transition: all 0.1s;
  width: 16px;
}

.list-item-action:focus {
  box-shadow: 0 0 0 2px var(--color-fill-3);
  outline: none;
}

.list-item-action:hover {
  background-color: var(--color-fill-3);
}
