name: Push Docker image to Docker Hub

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - '.husky/**'
      - '.editorconfig'
      - '.gitignore'
      - 'biome.json'
      - 'README*.md'

  workflow_dispatch:


jobs:
  build-and-push:
    runs-on: ubuntu-latest
    if: github.repository == 'electh/ReactFlux'
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            electh/reactflux:latest
            electh/reactflux:${{ github.sha }}
          platforms: linux/amd64,linux/arm64
