.ripple-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ripple-span {
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
  opacity: 0.2;
  animation-name: ripple;
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
